<!DOCTYPE html>
<html>
<head>
	<title>View Notice</title>
</head>
<body>
<table width="80%" align="center" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td colspan="2" valign="middle" height="70">  
			<table width="100%">
                <tr>
                    <td>
                        <a href="loggedin.php" target="iFrame">
                            <img height="48" src="/resource/logo.png">
                        </a>
                    </td>
                    <td align="right">
                        Logged in as <a href="/studenthome" target="iFrame"><%=name%></a>&nbsp;|
                        <a href="/logout">Logout</a>
                    </td>
                </tr>
			</table>
        </td>
    </tr>
    <tr>
	<td width="190" valign="top">
			<b>&nbsp;Student Panel</b><hr/>
            <ul>
                <li><a href="/studenthome" target="iFrame">Dashboard</a></li>
                <li><a href="/studenthome/subject" target="iFrame">View Subjects</a></li>
                <li><a href="/studenthome/result" target="iFrame">View Results</a></li>
                <li><a href="/studenthome/note" target="iFrame">View Notes</a></li>
                <li><a href="/studenthome/notice" target="iFrame">View Notices</a></li>
            </ul> 
			<b>&nbsp;Personal</b><hr/>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </td>
        <td valign="top">

		
		
		
		
		
		
	<table border="1" cellpadding="5" cellspacing="0">
		<tr><td colspan="4" align="CENTER">Students Info</td></tr>
		<tr>
			<td>ID</td><td>Class</td><td>Subject</td><td>Reason</td><td>Notice</td>
		</tr>
		<% for(var i=0; i < uList.length; i++){ %>
		<tr>
			<td><%= uList[i].id %></td>
			<td><%= uList[i].class %></td>
			<td><%= uList[i].subject %></td>
			<td><%= uList[i].reason %></td>
			<td><%= uList[i].notice %></td>

		</tr>
		<% } %>
	</table>
	
	
	
	
	
	
	
	
	</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Copyright &copy; 2019 (AIUB-ATP3)
        </td>
    </tr>
</table>
</body>
</html>